header {
	background: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px #CCCCCC solid;
	vertical-align: middle;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
}
